@import url(styles/reset.css);

:root {
    --fundo-claro: #D9D9D9;
    --fundo-escuro: #434343;
    --fundo: #FFF0E2;
    --laranja-forte: #FF8414;
    --texto-claro: #fff;
    --texto-escuro: #000;
    --contra: #A19191;
    --fundo-tela: #a58362;


    --card-fundo: #FFD4A6;

    --botao: #FF8414;
    --Hover-em-botões: #FFD4A6;
    --Textos-principais: #2C2C2C;
    --Textos-secundários: #6B6B6B;
    --Links-: #1B4965;
}

body {
    background-color: var(--fundo);
}

.navbar {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 64px;
}

.lista-navbar {
    display: flex;
    gap: 1rem;
}

.lista-navbar a {
    padding: .8rem;
    color: black;
}

.lista-navbar a:hover {
    color: var(--laranja-forte);
}

.btn-navbar {
    border-radius: 1.25rem;
    padding: 0.6rem 1rem;

    border: none;
    color: white;
    background-color: var(--laranja-forte);
}

.btn-navbar:hover {
    cursor: pointer;
    color: var(--laranja-forte);
    background-color: white;
    border: solid 1px var(--laranja-forte);
}

.auconchego {
    font-weight: bold;
    color: white;
    background-color: var(--laranja-forte);
}

/* inicio */

.flex-inicio {
    padding: 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-imagem img {
    max-width: 100%;
    width: 300px;
}

.inicio-texto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 412px;
}

.btn-inicio {
    border: solid 1px black;
    text-align: center;
    padding: 1rem;

    border-radius: 1.25rem;

    color: white;
    background-color: var(--laranja-forte);
}

.btn-inicio:hover {
    color: var(--laranja-forte);
    background-color: white;

    border: solid 1px var(--laranja-forte);
}

/* Quem somos */

.flex-quem-somos {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.quem-somos-texto {
    max-width: 427px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.btn-quem-somos {
    padding: 1rem;
    width: 60%;
    border-radius: 1.25rem;

    color: white;
    background-color: var(--laranja-forte);
}

.btn-quem-somos:hover {
    color: var(--laranja-forte);
    background-color: white;
    border: solid 1px var(--laranja-forte);
}

/* missao-visao-valores */

.flex-missao {
    gap: 4rem;

    display: flex;
    padding: 1.25rem;
    justify-content: space-between;
}

.missao-caixa-card {
    background-color: var(--card-fundo);
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
}

.missao-caixa-card:hover{
    transition: 0.3s;
    scale: 1.02;
}

.missao-texto {
    text-align: center;
    padding-top: none;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.missao-logo {
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.missao-logo img {
    width: 80px;
}

.missao-logo h3 {
    margin: 0.5rem 0rem;
    text-align: center;
}

/* cards adote */

.flex-card {
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;

}

.card {

    height: auto;
    width: 360px;
    gap: 1.25rem;

    padding: 1.25rem;
    background-color: var(--card-fundo);

    border-radius: 1.25rem;
    border: solid 2px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transition: 0.3s;
    scale: 1.02;
}

/* 
.card-imagem{
    resolver a resolucao para que qualquer imagem possa ocupar o espaço
    width: 300px;
} */

.card-btn {
    margin-top: 1rem;
    height: auto;
    width: 100%;
    padding: 1rem;
    border: solid 1px;
    border-radius: 1.25rem;

    text-align: center;
    color: white;
    background-color: var(--laranja-forte);
}

.card-btn:hover {
    cursor: pointer;
    color: var(--laranja-forte);
    background-color: white;
    border: solid 1px var(--laranja-forte);
}

/* saiba mais */
.espaco-botao {
    display: flex;
    justify-content: center;
}

.btn-saiba-mais {
    margin: 1rem 0rem;
    height: auto;
    padding: 1rem 2rem;
    border: solid 1px;
    border-radius: 1.25rem;

    font-weight: bold;
    color: var(--laranja-forte);
    background-color: white;
}

.btn-saiba-mais:hover {
    cursor: pointer;
    color: white;
    background-color: var(--laranja-forte);
    border: solid 1px black;
}

/* formulario adicionar e analisar */

/* Estrutura */

section.formulario-contato {
    background-color: var(--fundo-tela);

}

.imagem-esquerda {
    max-width: 100%;
    width: 400px;
    height: auto;
}

.flex-formulario {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa {
    padding: 1.25rem 0rem;
    display: flex;
    flex-direction: column;
}

.caixa-texto-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

.texto-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
}

/* Formulário */
.caixa-formulario {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1.25rem;
}

.caixa-formulario>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.caixa-formulario input,
.caixa-formulario textarea {
    border-radius: 1rem;
    padding: .7rem;
    border: 1px solid var(--contra);
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 120px;
}


.caixa-formulario input:focus,
.caixa-formulario textarea:focus {
    outline: none;
    border-color: var(--laranja-forte);
    box-shadow: 0 0 4px rgba(255, 132, 20, 0.5);
}

.registrar {
    border: none;
    border-radius: 1.25rem;
    background-color: var(--laranja-forte);
    color: white;
    padding: 1rem;
    width: 100%;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.registrar:hover {
    cursor: pointer;
    color: var(--laranja-forte);
    background-color: white;
    border: solid 1px var(--laranja-forte);
}



/* footer */

footer {
    background-color: var(--card-fundo);

}

.caixa-final-flex {
    padding: 1.25rem;

    display: flex;
    justify-content: space-between;
}

.logo-final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-final img {
    width: 80px;
}

.redes-sociais {
    display: flex;
    gap: .5rem;
}

.redes-sociais i {
    padding: .5rem 0rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.redes-sociais i:hover {
    color: var(--laranja-forte);
}

.email {
    text-align: end;
}

address a {
    color: #934600;
}