* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--fundo);
}

:root {
    --fundo: #FFF0E2;
    --card-fundo: #FFD4A6;
    --laranja-forte: #FF8414;
    --fundo-tela: #a58362;
    --texto-escuro: #934600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
}

button {
    font-size: 1rem;
}

label {
    font-size: 1rem;
}

.interface {
    max-width: 1020px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: auto;
}