@import url(reset.css);


header {
    padding: 1rem;
}

nav {
    align-items: center;
    padding: 1.25rem 0 0;
    display: flex;
    justify-content: start;
}

nav img {
    width: 62px;
}

.imagem-esquerda {
    max-width: 100%;
    width: 400px;
}


.texto {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 2.25rem 0rem;
    gap: 1.25rem;
}

/* footer  */


footer {
    background-color: var(--card-fundo);

}

.caixa-final-flex {
    margin-top: 4rem;
    padding: 1.25rem;

    display: flex;
    justify-content: space-between;
}

.logo-final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-final img {
    width: 64px;
}

.redes-sociais {
    display: flex;
    gap: .5rem;
}

.redes-sociais i {
    padding: .5rem 0rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.redes-sociais i:hover {
    color: var(--laranja-forte);
}

.email {
    text-align: end;
}

address a {
    color: var(--texto-escuro);
}


@media screen and (max-width:1020px) {

    nav {
        justify-content: center;
    }

    .texto {
        margin: 2.25rem 6rem;

    }

    /* footer  */

    .caixa-final-flex {
        flex-direction: column;
        gap: 1rem;
    }

    .email {
        text-align: center;
    }

    .email p {
        margin: .5rem;
    }
}

@media screen and (max-width:625px) {

    .texto {
        margin: 2.25rem 2rem;
    }
}